HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/

infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
infra/terraform/terraform.tfvars
crash.log
crash.*.log
dependency-reduced-pom.xml

